<%= render "navbar" %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path('ilak2o29fdupf9febu1k', width: 400, height: 300, crop: :fill) %>)">
  <div class="container">
    <h1>Watch a <strong>Movie</strong></h1>
    <p>Lean, select and enjoy!</p>
  </div>
</div>

<div class="container w-75 pb-5">
  <div class="mt-5 mt-3">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Your lists</h1>
      <%= link_to "New list", new_list_path, class:'btn btn-primary' %>
    </div>
    <div class="mt-4 cards-container d-flex flex-wrap">
      <% @lists.each do |list| %>
        <div class="card-list">
          <% if list.image.attached? %>
            <div class="card card-list-content" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(list.image.key, width: 400, height: 300, crop: :fill) %>)">
          <% else %>
            <div class="card card-list-content" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path('r1rzia1lymr7cszrdumm', width: 400, height: 300, crop: :fill) %>)">
          <% end %>
            <h3><%= link_to list.name, list_path(list) %></h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
